#main {
  background-color:#f1eeef;
}
.nav {
  display: flex;
  height:130px;
} 
#tag {
  padding-bottom: 20px;
  text-align: center;
  width:100%;
}
 #title {
   padding-top: 35px;
   text-align: center;
   width: 100%;
   font-size: 2em;
 }
 #title h1 {

  font-size: 1.1em;
  font-weight: bold;
 }

#img-div {
  margin: 0 15px;
  display: flex;
  height:690px;
  background-color: white
}
#img-container {
  margin: auto;
}
#img-caption {
  text-align: center;
}

#tribute-info {
  display: flex;
}
#info-timeline {
  margin: auto;
}
#tribute-link {
  margin: auto;
}
